# BASIC LEVEL

‚è± Time: O(n)
üì¶ Space: O(n)

Create a list of squares from 1‚Äì10

In [1]:
[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Convert list of strings to uppercase

In [2]:
words = ["apple", "banana", "cherry"]
words = [x.upper() for x in words]
words

['APPLE', 'BANANA', 'CHERRY']

Filter even numbers

In [4]:
nums = [1,2,3,4,5,6]
[x for x in nums if x%2==0]

[2, 4, 6]

‚è± O(n)
üì¶ O(k) (k = even count)

Get length of each word

In [5]:
words = ["data", "science", "ai"]
[len(x) for x in words]

[4, 7, 2]

Replace negatives with 0

In [10]:
nums = [3, -1, 5, -2]
[0 if x <0 else x for x in nums]

[3, 0, 5, 0]

<br>

# ITERMEDIATE LEVEL

Flatten a 2D list <br>
Problem: Convert matrix ‚Üí flat list.

In [15]:
matrix = [[1,2], [3,4], [5,6]]
[x for i in matrix for x in i]

[1, 2, 3, 4, 5, 6]

‚è± O(nm)
üì¶ O(nm)

Get vowels from a string

In [18]:
text = "data science"
[x for x in text if x in'aeiou']

['a', 'a', 'i', 'e', 'e']

Find common elements in two lists

In [ ]:
a = [1,2,3,4]
b = [3,4,5,6]

[x for x in a if x in b]

[3, 4]


‚è± O(n*m) ‚ùå slow

In [23]:
# Optimized:

b_set = set(b)
common = [x for x in a if x in b_set]

common

[3, 4]

‚è± O(n)
üì¶ O(n)

Remove duplicates

In [26]:
nums = [1,2,2,3,4,4]

list({x for x in nums})

[1, 2, 3, 4]

Dictionary from two lists

In [28]:
keys = ["a","b","c"]
vals = [1,2,3]

d = {k:v for k,v in zip(keys, vals)}
d

{'a': 1, 'b': 2, 'c': 3}

<br>

# ADVANCED LEVEL

Matrix Transpose

In [30]:
matrix = [
    [1,2,3],
    [4,5,6]
]

transpose = [[row[i] for row in matrix] 
             for i in range(len(matrix[0]))]
transpose

[[1, 4], [2, 5], [3, 6]]

Cartesian Product

In [31]:
a = [1,2]
b = ["x","y"]

pairs = [(i,j) for i in a for j in b]
pairs

[(1, 'x'), (1, 'y'), (2, 'x'), (2, 'y')]

Flatten + Filter

Flatten matrix but keep only even numbers.

In [46]:
matrix = [[1,2,3],[4,5,6]]

evens = [x 
         for row in matrix 
         for x in row 
         if x % 2 == 0]


evens

[2, 4, 6]

Nested conditional comprehension

In [48]:
nums = range(10)

labels = ["Even" if x%2==0 else "Odd" for x in nums]
labels

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

Extract numbers from string list

In [50]:
data = ["A1","B2","C3"]

nums = [int(x[1]) for x in data]

nums

[1, 2, 3]

<br>

# EXPERT / FAANG LEVEL

Flatten irregular nested list

In [51]:
data = [[1,2],[3,4,5],[6]]

flat = [x for sub in data for x in sub]

flat

[1, 2, 3, 4, 5, 6]

All pairs whose sum = target

In [53]:
nums = [1,2,3,4,5]
target = 6

pairs = [(i,j) 
         for i in nums 
         for j in nums 
         if i < j and i+j == target]
pairs

[(1, 5), (2, 4)]

Prime numbers till N

In [55]:
N = 20

primes = [x for x in range(2, N+1)
          if all(x % y != 0 for y in range(2, int(x**0.5)+1))]
primes

[2, 3, 5, 7, 11, 13, 17, 19]

Frequency dictionary

In [64]:
text = "banana"

freq = {c:text.count(c) for c in set(text)}
freq

{'a': 3, 'b': 1, 'n': 2}

In [65]:
from collections import Counter
freq = dict(Counter(text))
freq

{'b': 1, 'a': 3, 'n': 2}

Flatten 3D list

In [67]:
data = [[[1,2],[3]], [[4,5]]]

flat = [x
        for layer in data
        for row in layer
        for x in row]
flat

[1, 2, 3, 4, 5]

Swap key-value in dict

In [69]:
d = {"a":1, "b":2}

swapped = {v:k for k,v in d.items()}
swapped

{1: 'a', 2: 'b'}

Conditional flatten: Flatten only lists, keep others.

In [70]:
data = [1,[2,3],4,[5,6]]

flat = [x 
        for item in data 
        for x in (item if isinstance(item,list) else [item])]
flat

[1, 2, 3, 4, 5, 6]

Words starting with vowel

In [71]:
words = ["apple","banana","orange"]

vowel_words = [w for w in words if w[0].lower() in "aeiou"]
vowel_words

['apple', 'orange']

Remove None values

In [73]:
data = [1,None,2,None,3]

clean = [x for x in data if x is not None]
clean

[1, 2, 3]

# ULTRA-ADVANCED / ONE-LINER CHALLENGES

Flatten + deduplicate

In [75]:
matrix = [[1,2],[2,3],[3,4]]

unique = {x for row in matrix for x in row}
unique

{1, 2, 3, 4}

Diagonal of matrix

In [76]:
matrix = [
 [1,2,3],
 [4,5,6],
 [7,8,9]
]

diag = [matrix[i][i] for i in range(len(matrix))]
diag

[1, 5, 9]

Reverse each word

In [77]:
words = ["data","science"]

rev = [w[::-1] for w in words]
rev

['atad', 'ecneics']

# List comprehension with function

In [78]:
def f(x):
    return x**3

cubes = [f(x) for x in range(10)]

cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Complexity Summary

| Pattern        | Time   | Space  |
| -------------- | ------ | ------ |
| Simple map     | O(n)   | O(n)   |
| Filter         | O(n)   | O(k)   |
| Nested loops   | O(n¬≤)  | O(n¬≤)  |
| Matrix flatten | O(n*m) | O(n*m) |
| Prime check    | O(n‚àön) | O(n)   |